<NavLink href="@($"/workspace/{WorkspaceId}/contact/{Contact.Id}")" Match="NavLinkMatch.All">
    <div class="flex items-center between space-x-4 p-[8px] rounded-[12px] hover:bg-sBackground transition-all ease-in-out cursor-pointer bg-sBackground border border-white hover:border-primary/30">
        <div class="h-[32px] w-[32px] rounded-[8px] border border-white bg-primary flex items-center justify-center">
            <div class="h-[18px] w-[18px] rounded-full border border-border bg-pBackground drop-shadow-md" />
        </div>

        <div class="flex gap-x-[10px] items-center">
            <span class="font-medium text-pText">
                @Contact.Name
            </span>

            <span class="text-sText/50">
                @Contact.Email
            </span>

            <div class="flex gap-x-[4px] items-center">
                @foreach (var category in Contact.ContactCategories.Take(2))
                {
                    <KonnTag Color="@category.Category.Color" Text="@category.Category.Name" />
                }

                @if (Contact.ContactCategories.Count > 3)
                {
                    var moreCount = Contact.ContactCategories.Count - 2;
                    <KonnTag Color="#696f78" Text="@($"{moreCount} more")" />
                }
            </div>
        </div>
    </div>
</NavLink>

@code {
    [Parameter]
    public string WorkspaceId { get; set; } = string.Empty;

    [Parameter]
    public Contact Contact { get; set; } = default!;
}