@using KonnClient.Data
@using KonnClient.Data.Models
@rendermode InteractiveServer
@inject ILogger<ContactsList> Logger
@inject IDbContextFactory<KonnDbContext> ContextFactory

<div class="flex flex-col gap-y-[20px] w-full max-w-[800px]">
    <div class="flex justify-between items-center w-full">
        <div class="gap-x-[12px]">
            <div class="">
                <span class="text-lg text-pText font-semibold">Contacts</span>
            </div>
            <span class="text-sText/40 font-medium">
                Invite subscribers, contacts and past guests via email or SMS.
            </span>
        </div>

        <KonnButton Text="New Contact" OnClick="() => IsAddContactVisible = true">
            <StartIcon>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14" /><path d="M12 5v14" /></svg>
            </StartIcon>
        </KonnButton>

        <KonnModal IsVisible="@IsAddContactVisible" OnClose="@(() => IsAddContactVisible = false)">
            <div class="flex flex-col space-y-[16px]">
                <div>
                    <div class="text-lg text-pText font-semibold">New Contact</div>
                    <div class="text-sText/40 font-medium">
                            Invite subscribers, contacts and past guests via email or SMS.
                    </div>
                </div>

                <div>
                    <ContactForm Method="Add" OnCancel="OnCancel" />
                </div>
            </div>
        </KonnModal>
    </div>

    <div class="relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#313640" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="absolute top-[8px] left-[8px] lucide lucide-search opacity-70"><circle cx="11" cy="11" r="8" /><path d="m21 21-4.3-4.3" /></svg>

        <InputText id="search" @bind-Value="@SearchValue" placeholder="Search a contact" class="pr-[14px] pl-[44px] py-[8px] border border-border rounded-[12px] transition-all easei-in-out bg-qBackground hover:bg-primary/10 focus:bg-pBackground cursor-pointer focus:cursor-text w-full" />
    </div>

    <div class="flex flex-col space-y-[12px]">
       <Virtualize Context="contact" ItemsProvider="LoadContacts" OverscanCount="6">
            <ItemContent>
                <ContactRow @key="contact.Id" Contact="@contact" WorkspaceId="@WorkspaceId" />
            </ItemContent>

            <Placeholder>
                <p>loading...</p>
            </Placeholder>

            <EmptyContent>
                <p>
                    There are no contacts to display.
                </p>
            </EmptyContent>
        </Virtualize>
    </div>
</div>

@code {
    [Parameter]
    public int WorkspaceId { get; set; }

    public string SearchValue { get; set; } = string.Empty;

    public bool IsAddContactVisible { get; set; } = false;

    private void OnCancel()
    {
        IsAddContactVisible = false;
    }

    private async ValueTask<ItemsProviderResult<Contact>> LoadContacts(ItemsProviderRequest request)
    {
        try
        {
            using var _context = ContextFactory.CreateDbContext();

            var totalCount = await _context.Contacts
                .Where(w => w.WorkspaceId == WorkspaceId)
                .CountAsync();

            int numContacts = Math.Min(request.Count, totalCount - request.StartIndex);

            var contacts = await _context.Contacts
                .Where(c => c.WorkspaceId == WorkspaceId)
                .OrderBy(c => c.CreatedAt)
                .Skip(request.StartIndex)
                .Take(numContacts)
                .ToListAsync();

            return new ItemsProviderResult<Contact>(contacts, totalCount);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
            return new ItemsProviderResult<Contact>(new List<Contact>(), 0);
        }
    }
}
