@using KonnClient.Data.Models

<NavLink href="@($"/workspace/{WorkspaceId}/contacts/{Contact.Id}")" Match="NavLinkMatch.All">
    <div class="flex items-center between space-x-4 p-[8px] rounded-[12px] hover:bg-sBackground transition-all ease-in-out cursor-pointer bg-sBackground border border-white hover:border-primary/30">
        <div class="h-[32px] w-[32px] rounded-[8px] border border-border bg-primary flex items-center justify-center drop-shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" /><circle cx="12" cy="7" r="4" /></svg>
        </div>

        <div class="flex gap-x-[10px] items-center">
            <span class="font-medium text-pText">
                @Contact.Name
            </span>

            <span class="text-sText/50">
                @Contact.Email
            </span>

            <div class="flex gap-x-[4px] items-center">
                @foreach (var category in Contact.ContactCategories.Take(2))
                {
                    <KonnTag Color="@category.Category.Color" Text="@category.Category.Name" />
                }

                @if (Contact.ContactCategories.Count > 3)
                {
                    var moreCount = Contact.ContactCategories.Count - 2;
                    <KonnTag Color="#696f78" Text="@($"{moreCount} more")" />
                }
            </div>
        </div>
    </div>
</NavLink>

@code {
    [Parameter]
    public int WorkspaceId { get; set; }

    [Parameter]
    public Contact Contact { get; set; } = default!;
}