@using KonnClient.Data.Models
@rendermode InteractiveServer

<div class="flex flex-col gap-y-[20px] w-full">
    <div
        class="w-full flex items-start justify-between bg-pBackground gap-x-[8px] p-[20px] rounded-[12px] border border-white">
        <div class="flex gap-x-[16px] items-center">
            <div
                class="h-[80px] w-[80px] rounded-[12px] border border-border bg-tBackground flex items-center justify-center drop-shadow-xl">
            </div>

            <div class="flex flex-col gap-x-[10px]">
                <span class="font-semibold text-[24px] text-pText">
                    @Contact.Name
                </span>

                <span class="truncate text-sText/50">
                    @Contact.Email
                </span>

                <div class="flex gap-[4px] items-center mt-[6px] flex-wrap">
                    @foreach (var category in Contact.ContactCategories)
                    {
                        <KonnTag Color="@category.Category.Color" Text="@category.Category.Name" />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-y-[8px]">
        <div
            class="flex flex-col w-full bg-pBackground px-[20px] py-[16px] rounded-[12px] gap-y-[8px] border border-white">
            <span class="truncate text-sText/50">
                Phone Number
            </span>

            <span class="font-medium truncate text-pText">
                +@Contact.Phone
            </span>
        </div>

        <div
            class="flex flex-col w-full bg-pBackground px-[20px] py-[16px] rounded-[12px] gap-y-[8px] border border-white">
            <span class="truncate text-sText/50">
                Telephone Number
            </span>

            <span class="font-medium truncate text-pText">
                +@Contact.Telephone
            </span>
        </div>
    </div>

    <div class="flex flex-col gap-y-[8px]">
        <span class="truncate text-sText/50">
            Contact Status
        </span>

        <div class="flex w-full bg-pBackground px-[20px] py-[16px] rounded-[12px] items-start border border-white">
            <div class="flex flex-col w-full gap-y-[8px]">
                <span class="font-medium truncate text-pText">
                    Add to favorites
                </span>

                <span class="truncate text-sText/50">
                    Enabling this feature will mark this contact as one of your favorite contacts
                </span>
            </div>

            <KonnSwitch Value="@Contact.IsFavorite" OnSwitchClicked="HandleSwitchClicked" />
        </div>

        <div class="flex w-full bg-pBackground px-[20px] py-[16px] rounded-[12px] items-start border border-white">
            <div class="flex flex-col w-full gap-y-[8px]">
                <span class="font-medium truncate text-pText">
                    Mark as emergency
                </span>

                <span class="truncate text-sText/50">
                    Enabling this feature will mark this contact as one of your emergency contacts
                </span>
            </div>

            <KonnSwitch Value="@Contact.IsEmergency" OnSwitchClicked="HandleSwitchClicked" />
        </div>
    </div>

    <div class="flex flex-col gap-y-[8px]">

        <span class="truncate text-sText/50">
            Other
        </span>
        <div
            class="flex flex-col w-full bg-pBackground px-[20px] py-[16px] rounded-[12px] gap-y-[8px] border border-white">
            <span class="truncate text-sText/50">
                Notes
            </span>

            <span class="font-medium truncate text-pText">
                @Contact.Notes
            </span>
        </div>
    </div>

    <div class="flex flex-col gap-y-[8px]">

        <span class="truncate text-sText/50">
            Audit Information
        </span>

        <div
            class="flex flex-col w-full bg-pBackground px-[20px] py-[16px] rounded-[12px] gap-y-[8px] border border-white">
            <span class="truncate text-sText/50">
                Date Added
            </span>

            <span class="font-medium truncate text-pText">
                Last @Contact.CreatedAt
            </span>
        </div>

        <div
            class="flex flex-col w-full bg-pBackground px-[20px] py-[16px] rounded-[12px] gap-y-[8px] border border-white">
            <span class="truncate text-sText/50">
                Last Updated
            </span>

            <span class="font-medium truncate text-pText">
                Last @Contact.UpdatedAt
            </span>
        </div>
    </div>
</div>

@code {
    [Parameter] public Contact Contact { get; set; } = default!;

    public bool IsEmergency { get; set; } = false;

    private void HandleSwitchClicked(bool value)
    {
        IsEmergency = value;
    }
}
