@page "/workspace/{WorkspaceId:int}/categories/{CategoryId:int}"
@using KonnClient.Components.Pages.FeatContact
@using KonnClient.Components.Pages.FeatWorkspace
@using KonnClient.Data
@using KonnClient.Data.Models
@using static KonnClient.Components.Shared.KonnTabs
@inject NavigationManager Navigation
@rendermode InteractiveServer
@inject ILogger<CategoryDetails> Logger
@inject NavigationManager Navigation
@inject IDbContextFactory<KonnDbContext> ContextFactory

<PageTitle>@Workspace?.Name</PageTitle>

<div class="flex flex-col gap-y-[32px] w-full pb-[80px]">
    <WorkspaceInformation Workspace="@Workspace"/>

    @if (Category != null)
    {
        <div class="flex w-full gap-y-[32px] flex flex-col items-center">
            <div class="space-y-[24px] max-w-[800px] w-full">
                <div class="flex items-center gap-x-[8px]">
                    <NavLink href="@($"/workspace/{WorkspaceId}/categories")" Match="NavLinkMatch.All">
                        <span class="text-2xl text-pText font-bold">
                            ←
                        </span>
                    </NavLink>

                    <span class="text-lg text-pText font-semibold">
                        Category Information
                    </span>
                </div>

                <CategoryInformation Category="@Category" />

                <div class="h-[1px] bg-border w-full max-w-[800px]" />

                <div class="flex flex-col gap-y-[4px]">
                    <span class="text-lg text-pText font-semibold">
                        Clone Category
                    </span>

                    <span class="text-sText/50 pb-[8px]">
                        Create a new event with the same information as this one. Everything except the guest list and event posts will be copied over.
                    </span>

                    <CategoryClone CategoryId="@CategoryId" />
                </div>

                <div class="h-[1px] bg-border w-full max-w-[800px]" />

                <div class="flex flex-col gap-y-[4px]">
                    <span class="text-lg text-pText font-semibold">
                        Delete Category
                    </span>

                    <span class="text-sText/50 pb-[8px]">
                        Cancel and permanently delete this event. This operation cannot be undone. If there are any registered guests, we will notify them that the event has been cancelled.
                    </span>

                    <CategoryDelete CategoryId="@CategoryId" />
                </div>

                <div class="h-[1px] bg-border w-full max-w-[800px]" />

                <div class="flex flex-col gap-y-[4px]">
                    <span class="text-sText/40 font-medium text-[14px]">Learn more about managing categories</span>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public int WorkspaceId { get; set; }

    [Parameter]
    public int CategoryId { get; set; }

    public Workspace? Workspace { get; set; }

    public Category? Category { get; set; }

    public bool IsCloneCategoryVisible { get; set; } = false;

   

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var _context = ContextFactory.CreateDbContext();

            Workspace = await _context.Workspaces.FindAsync(WorkspaceId);
            Category = await _context.Categories.FindAsync(CategoryId);

        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }
}
